beautifulsoup4==4.4.1
cffi==1.2.1
Django==1.8.5
enum34==1.0.4
Flask==0.10.1
idna==2.0
image==1.4.1
ipaddress==1.0.14
itsdangerous==0.24
Jinja2==2.8
lxml==3.4.4
MarkupSafe==0.23
numpy==1.10.1
pandas==0.17.0
Pillow==3.0.0
pyasn1==0.1.9
pycparser==2.14
python-dateutil==2.4.2
pytz==2015.6
requests==2.8.1
riotwatcher==1.3.2
six==1.10.0
Twisted==15.4.0
vboxapi==1.0
virtualenv==13.1.2
w3lib==1.12.0
Werkzeug==0.10.4
zope.interface==4.1.3
