{% extends "base.html" %}

{% block content %}
<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center light text-darken-2">Something went wrong...</h1>

            <div class="row center">
                <h5 class="header col s12 light">Maybe you're searching for a summoner that doesn't exist.  Maybe that functionality doesn't exist.  Maybe the end of the world just happened. <br> In any case, something went wrong...</h5>
            </div>
            <div class="row center">
                <a href="index" id="return" class="btn-large waves-effect waves-light teal lighten-1">Go Back Home</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/static/img/shadow_isles.jpg" alt="Shadow Isles"></div>
</div>
{% endblock %}